
<html lang="he">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="style.css" />
    <title>מערכת שליחת הודעות</title>
</head>
<body dir="rtl">
<div id="page">
    <div id="pagetop">
        <h1>מערכת להדגמה</h1>
        <div class="links">
            <ul>
                <li><a href="demo_messaging">שליחת הודעות</a></li>
            </ul>
        </div>
    </div>

    <div id="header">   </div>

    <div id="main">
        <div class="content">
            <div class="main_top">
                <h1>החלפת סיסמה</h1>
            </div>

            <div class="main_body">
                <br>
                <p><%= message %></p>
                <br>
                <form method="post" action="/demo_change_password" onsubmit="return checkForm(this);">


                    סיסמה נוכחית:<br>
                    <input name="password" type="password" required/><br>
                    <br>
                    סיסמה חדשה:<br>
                    <input name="newPassword" type="password" required/><br>
                    <br>
                    הכנס/י שוב סיסמה חדשה:<br>
                    <input name="newPasswordConfirm" type="password" required/><br>

                    <br>

                    <input class="button" type="submit" value="החלפת סיסמה">
                    <input type="hidden" name="school" value="demo"/>
                    <input type="hidden" name="changePassword" value="true"/>

                    <script type="text/javascript">

                        function checkForm(form)
                        {
                            if (!(form.newPassword.value == form.newPasswordConfirm.value)){
                                alert("הסיסמאות אינן זהות");
                                form.newPassword.focus();
                                return false;
                            }
                            if(form.newPassword.value.length < 4) {
                                alert("על הסיסמה להכיל לכל הפחות 4 תוים");
                                form.newPassword.focus();
                                return false;
                            }

                            re = /[0-9a-zA-Z]+$/;
                            if(!re.test(form.newPassword.value)) {
                                alert("הסיסמה החדשה מכילה תוים אסורים. התוים המותרים הינם ספרות ואותיות גדולות וקטנות באנגלית בלבד");
                                form.newPassword.focus();
                                return false;
                            }

                            if(form.password.value == form.newPassword.value){
                                alert("הסיסמה החדשה זהה לישנה");
                                form.newPassword.focus();
                                return false;
                            }

                            return true;
                        }


                    </script>


                </form>




            </div>

        </div>
        <div class="clear">&nbsp;</div>
    </div>
    <div id="footer">
        <p>
            <a href="http://www.bryantsmith.com/template">xhtml template</a> by <a href="http://www.bryantsmith.com">web page designer</a></p>
    </div>



</div>

</body>
</html>
